*.ipch
*.opensdf
*.sdf
*.suo
*.vcxproj.user
bin/**
build/**
lib/**
ipch/**
obj/**
*ReSharper*
*.VC.*
.vs/*
compile_commands.json
CMakeUserPresets.json
test_package/CMakeUserPresets.json
test_package/build
