*.ipch
*.opensdf
*.sdf
*.suo
*.vcxproj.user
bin/**
build/**
lib/**
ipch/**
obj/**
*ReSharper*

*.xcuserstate

Build/macosx/xcode4/hypodermic.xcworkspace/xcuserdata/dmitryledentsov.xcuserdatad/UserInterfaceState.xcuserstate
