version: 1.0.{build}
branches:
  only:
  - master
image: Visual Studio 2017
configuration: Release
platform: x64
environment:
  BOOST_HOME: C:\Libraries\boost_1_59_0
  BOOST_LIB_PATH: C:\Libraries\boost_1_59_0\lib64-msvc-14.0
before_build:
- cmd: set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%
build:
  project: Hypodermic.sln
  verbosity: normal